* {
  border: none;
  font-family:
    Hack Nerd Font,
    sans-serif;
  font-size: 15px;
  border-radius: 0px;
}

.modules-right {
  background: #343f44;
}

.modules-center {
  background: #232a2e;
  border-radius: 20px;
  padding: 0px 15px;
  margin: 3px 10px;
}

.modules-left {
  background: #232a2e;
  border-radius: 20px;
  padding: 0px 15px;
  margin: 3px 10px;
}

window#waybar {
  background: #343f44;
}

#battery {
  padding: 0px 10px;
}
#battery.charging {
  color: #7fbbb3;
}
#battery.warning {
  color: #dbbc7f;
}
#battery.critical {
  color: #e67e80;
}

#pulseaudio {
  padding: 0px 10px;
}
#pulseaudio-slider {
  padding: 0px 10px;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  border-radius: 8px;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  padding: 0px;
  border-radius: 5px;
  background-color: #232a2e;
}
#pulseaudio-slider highlight {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: #a7c080;
}

#language {
  padding: 0px 10px;
}

#workspaces {
  background: transparent;
  padding: 0px;
}
#workspaces button {
  background: transparent;
  color: #d3c6aa;
  margin: 0px 2px;
  padding: 0px;
  border-radius: 0px;
  min-width: 20px;
  transition: all 0.3s ease;
}
#workspaces button.active {
  color: #a7c080;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #e67e80;
}
#workspaces button:hover {
  color: #7fbbb3;
}
