* {
  border: none;
  font-family:
    Hack Nerd Font,
    sans-serif;
  font-size: 15px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right {
  background: #343f44;
}

.modules-center {
  background: #343f44;
}

.modules-left {
  background: #343f44;
}

window#waybar {
  background: transparent;
}

#battery.charging {
  color: #7fbbb3;
}

#battery.warning {
  color: #dbbc7f;
}

#battery.critical {
  color: #e67e80;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  padding: 0px;
  border-radius: 5px;
  background-color: #232a2e;
}

#pulseaudio-slider highlight {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: #a7c080;
}

#workspaces {
  background: transparent;
  padding: 0px;
}

#workspaces button {
  background: #232a2e;
  color: #d3c6aa;
  margin: 0px 2px;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#workspaces button.active {
  background: #a7c080;
  color: #2d353b;
  font-weight: bold;
}

#workspaces button.urgent {
  background: #e67e80;
  color: #2d353b;
}

#workspaces button:hover {
  background: #414b50;
  color: #d3c6aa;
}
