* {
  border: none;
  font-family:
    Hack Nerd Font,
    sans-serif;
  font-size: 15px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right {
  background: #343f44;
}

.modules-center {
  background: #343f44;
}

.modules-left {
  background: #343f44;
}

window#waybar {
  background: transparent;
}

#battery.charging {
  color: #7fbbb3;
}
#battery.warning {
  color: #dbbc7f;
}
#battery.critical {
  color: #e67e80;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  padding: 0px;
  border-radius: 5px;
  background-color: #232a2e;
}
#pulseaudio-slider highlight {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  border-radius: 5px;
  background-color: #a7c080;
}
